.map-section {
    height: 82.5vh; /* same with friend section */
    width: 80%;
    margin-left: 20%;
}

#map {
    height: 100%;
    width: 100%;
}

#legend  {
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    font-size: 12px;
    font-weight: 700;
    gap: 70px;
    z-index: 1000;
    position: absolute;
    color: #0a2a6e;

}

#user-locale, #friend-locale {
    display: flex;
    flex-direction: row;
    width: 90px;
    border-radius: 10px;
    background-color: rgb(56, 53, 29, 0.3);
    padding: 5px;
    gap: 5px;
}

#my-location-thumb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: aliceblue;
    background-image: url(../images/my_locale.png);
}

#friend-location-thumb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: aquamarine;
    background-image: url(../images/user_destination.png);
}

#pincher {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: azure;
    background-image: url(../images/pincher1.png);
    z-index: 1000;
    position: absolute;
    cursor: move;
    position: fixed;
    display: none;
    top: 70%;
    right: 20%;
    transform: translate(-50%, -50%);
}
