.profile-container {
    /* border: 1px solid black; */
    position: fixed;
    top: 10vh; /* header height + 2 */
    left: 75%;
    width: 250px;
    max-height: 40%;
    padding: 0px 10px 15px 10px;
    background-color: #b8f3d5;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    z-index: 1000; /* Ensure the box appears above other elements */
    display: flex;
    flex-direction: column;
    gap: 5px;
    display: none;
    overflow-y: scroll;
}

.profile-container {
    /* display: block; */
    width: 450px;
    max-height: 90vh;
    height: 80vh;
    left: 62%;
    background-color: #A3B4C8;
    /* background-color: rgb(255, 255, 255, 0.5); */
    /* padding: 10px; */
}

.close-popup {
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.close-popup:hover {
    background-color: #485766;
}

#intro {
    width: 250px;
    /* border: 1px solid saddlebrown; */
    margin-top: 20px;
    height: fit-content;
    padding: 0px 15px 20px 15px;
    background-color: rgba(204, 182, 149, 0.514);
}


.user-info {
    margin-top: 15px;
    height: 150px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
}

#new-avatar {
    height: 20px;
    width: 20px;
    background-image: url(../images/icons8-upload-24.png);
    position: absolute;
    top: 28%;
    right: 65%;
    z-index: 1000;
    cursor: pointer;
}

.user-info h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

.locale-and-track-info {
    margin: 10px 0px;
    height: 160px;
    width: 100%;
    /* border-bottom: 1px solid gray; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

#location-stat {
    height: 18px;
    width: 18px;
    /* border: 1px solid black; */
    cursor: pointer;
}

.avatar-mid {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid gray;
}
  
#i-track {
    /* background-color: #022E51; */
    padding: 5px;
}

.mini-box {
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid whitesmoke; */
    align-items: center;
}

.who-tracks-me {
    color: #022E51;
    font-size: 12px;
    font-weight: 700;
}

.i-track-disp-cont {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* ensures images go to the next line when container is full */
}

.upload-box {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 5%;
    left: 35%;
    height: 30%;
    width: 42%;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-color: rgb(72, 87, 102, 0.9);
    align-items: center;
    padding: 20px 40px;
    gap: 30px;
}

#form-caption{
    margin-bottom: 20px;
    font-weight: 700;
    /* color: #022E51; */
}

#upload-form {
    gap: 20px;
}

input[type="submit"] {
    margin-top: 30px;
    margin-bottom: 10px;
    /* margin-left: 25%; */
}

.del-user {
    padding: 15px;
    background-color: red;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}
